// IMPORT BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$text-color: #333;
//primary
$primary: rgb(235, 137, 62);
$secondary: rgb(67, 36, 15);
$success: rgb(255, 193, 7);
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
