/*--- SLIDER ---*/
.slider {
  position: relative;
  /*SLIDER BOX*/
  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 2;
    &--list {
      height: 150px;
    }
    &--item {
      height: 135px;
      width: 170px;
      background-color: #eeec;
      padding: 20px 15px;
      transition: all 0.2s;
      text-align: center;
      i {
        font-size: 40px;
      }
      &.active {
        background-color: $primary;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        a {
          color: #fff;
        }
      }
      // &:hover {
      //   background-color: $primary;
      //   a {
      //     color: #fff;
      //   }
      // }
    }
    &--link {
      display: block;
      overflow: hidden;
      color: $primary;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
    /*SEARCH BOX*/
    &--search {
      margin-left: auto;
      margin-right: auto;
      input {
        height: 40px;
      }
      .btn {
        width: 120px;
        background: $white;
        height: 40px;
        margin-left: 10px;
        border: 1px solid $primary;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        &:hover,
        &:focus {
          color: $white;
          background: $primary;
        }
      }
    }
  }
  .owl-nav {
    .owl-next {
      right: 0;
    }
    .owl-prev {
      left: 0;
    }
    [class*="owl-"] {
      width: 40px;
      height: 40px;
      border-radius: 50% !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.5;
      i {
        font-size: 20px;
      }
      &:hover {
        opacity: 1;
        background: $primary !important;
      }
    }
  }
  .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: 2;
    .owl-dot {
      &.active {
        span {
          background: $primary !important;
        }
      }
      span {
        background: $white !important;
        width: 22px !important;
        height: 4px !important;
        &:hover,
        &:focus {
          background: $primary !important;
        }
      }
    }
  }
}
/*--- POLICY ---*/
.policy-section {
  padding: 20px 0;
}
.policy {
  &-item {
    &--box {
      padding: 20px 20px;
      box-shadow: 0px 2px 15px rgb(0 0 0 / 15%);
      border-radius: 10px;
      background: $white;
      transition: all 0.2s;
      height: 100%;
      &:hover {
        background: $primary;
        color: $white;
        i {
          color: $white;
        }
      }
    }
    i {
      color: $primary;
      font-size: 40px;
      margin-bottom: 15px;
    }
  }
}
/*--- SERVICES ---*/
.services-item {
  &--overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #f5f5f5;
    background: linear-gradient(
      0deg,
      rgba(35, 79, 109, 0.3785889356) 0%,
      lighten($primary, 15%) 100%
    );
  }
  &--body {
    padding: 15px;
  }
  &--title {
    color: $white;
  }
}
/*--- STEPS ---*/
.steps {
  &-left {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-screen {
    position: relative;
  }
  &-vid {
    position: absolute;
    top: 3px;
    left: 2%;
    width: 64%;
  }
}
